.form-container-light {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .form-container-light input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
  }
  
  .form-container-light button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-container-dark {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .form-container-dark input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #070F2B;
    border-radius: 5px;
    width: 30%;
  }
  
  .form-container-dark button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #1B1A55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }