.form-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .form-container input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .addtask {
    width: 50px;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }